spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sg_mybatis_plus?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: he142536.!
    driver-class-name: com.mysql.cj.jdbc.Driver


# 方式一
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#  自定义sql语句
  mapper-locations: classpath*:/mapper/**/*.xml
#
## 方式二 application.yml 中增加配置，指定 mapper 文件所在的包
#logging:
#  level:
#    com.baomidou.example.mapper: debug

# 逻辑删除
  global-config:
    db-config:
      logic-delete-field: delFlag  # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)